html {
    background-image: url('bg.jpg');
    background-size:cover
}
#container {
    width: 900px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 400px;
}
#wrapper {
    width: 900px;
    margin: 0 auto;
    height: 150px;
    overflow: hidden;
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px 4px;
}
#wrapper ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 8s ease 0s;
    width: 1000000px;
}
#wrapper ul li {
    float: left;
    height: 150px;
    width: 140px;
}
#line {
    width: 4px;
    background-color: red;
    height: 125px;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    top: 0px;
    z-index: 100;
}
.list-container {
    width: 130px;
    height: 130px;
    margin: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 4px 4px;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}